h3 {
    color: rgb(35, 29, 59);
}

p {
    color: rgb(15, 11, 31);
}

h3 {
    margin-top: 20px;
    margin-bottom: 30px;
}

.table-container {
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

.button-container{
    font-family: monospace;
}

.typebutton{
    background-color: rgb(102, 51, 102);
    color: white;
    border-color: rgb(102, 51, 102);
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    margin-top: 32px;
    font-family: monospace;
}

.button:hover {
    background-color: #e5007d;
    color: white;
  }

.text-container {
    margin: 50px;
    margin-left: 300px;
}

.about-text {
    grid-column: 2;
}

.cards{
 display: flex;
 flex: 0 0 33.333%;
 padding: 10px;
 padding-left: 0px;
 padding-right: 36px;
}


