h3 {
    color: rgb(35, 29, 59);
}

p {
    color: rgb(15, 11, 31);
}

.table-container {
    margin-left: 10px;
    margin-right: 10px;
}

.text-container {
    margin: 50px;
    margin-left: 300px;
}

.about-text {
    grid-column: 2;
}