.upload-card {
    height: 50%;
    width: 20%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}


.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #EDEDED;
}

