.card-container {
    margin-top: 32px;
}

.card-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 100px;
    height: 100px;
}

.btn-holder{
    justify-content: flex-end;
    display: flex;
}

.card-title{
    font-family: monospace;
    font-weight: bolder;
}

.card-text{
    font-family: monospace;
}

.card-body{
    display: flex;
    flex-direction: column;
}

