.upload-card {
    flex: 0 0 100%;
}

.card-wrap{
  flex: 0 0 33.333%;
  display: flex;
  padding: 10px;
}

.card-wrap:first-child{
    padding-left: 0px;
}

.card-wrap:last-child{
    padding-right: 0px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.git-input {
    margin-top: 1%;
    margin-bottom: 1%;
}

.file-upload-container {
    width: 40%;
}
