.text-last{
    font-family: monospace;
    font-size: 16px;
    margin-bottom: 50px;
}

.otro-blockquote{
  font-size: 16px;
  width:60%;
  margin:50px auto;
  font-family: Open Sans, serif;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid rgb(102, 51, 102) ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

.otro-blockquote::before{
  font-family: Arial, serif;
  content: "\201C";
  color:#e5007d;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

.otro-blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

.otro-blockquote::after{
  content: '';
}