.title{
    font-family: monospace;
    font-size: 32px;
    margin-top: 32px;
    margin-bottom: 0;
}

.title2{
    font-family: monospace;
    font-size: 24px;
    color:rgb(102, 51, 102);
    font-weight: bold;
    margin-bottom: 0;
}
 .card-button{
     background-color: rgb(102, 51, 102);
     color:white;
     border-color: rgb(102,51,102);
     display: inline-block;
     text-decoration: none;    
     cursor: pointer;
     padding: 0.375rem 0.75rem;
     border-radius: 0.25rem;
     text-align: center;
     text-decoration: none;
     vertical-align: middle;
 }

 .card-button:hover {
    background-color: #e5007d;
    color:white;
 }